.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Form */
.createForm{
  text-align: center;
  margin: auto;
  position: absolute;
  height: 100%;
  top: 50%;
  right: 50%;
  margin-right: -250px;
  width: 100%;
  max-width: 500px;
  margin-top: -250px;
  max-height: 500px;
  
}
.subButt{
  background-color: green;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  cursor: pointer;
  color: white;
 text-transform: uppercase;
  border-radius: 40px;
  border: .5px solid green;
  margin: 10px auto;
  padding: 10px 10px;

}
.subButt:focus{
  outline: none;
  
  background-color: white;
  color: green;
}

.createForm input,
.createForm textarea{
  width: 100%;
  max-width: 400px;
  border-radius: 7px;
  margin: 10px;
  padding: 10px 10px;
  font-size: 18px;
  border: none;
  background: rgba(83, 83, 83, 0.226);

}
.createForm input:focus,
.createForm textarea:focus{
  outline: none;

}
.createForm h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}



input.error {
  border: 1px solid #EADAE4;
}

.error {
  color:#dc0b0b;
  font-size: 12px;
  display: relative;
}
.formField{
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px auto;
  align-items: center;

}








